body {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 120px;
  box-sizing: border-box;
}
.Header {
  background-color: purple;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 1000;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.title {
  display: flex;
  align-items: flex-end;
}
h1 {
  color: white;
  margin: 0;
  margin-left: 30px;
  font-size: 50px;
}
.fa-briefcase {
  font-size: 100px;
  cursor: pointer;
  background: -webkit-linear-gradient(#afe619, #09bbec);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goToLogIn {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
#search-input {
  width: 60%;
  margin: 20px auto 0;
  padding: 10px;
  border: 3px solid purple;
  border-radius: 4px;
}
.Home {
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Card {
  padding: 10px;
  cursor: pointer;
  width: 45%;
  margin: 10px 0;
  border: 2px solid purple;
  border-radius: 4px;
  display: flex;
}
.Card:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.logo-img {
  width: 50%;
  display: block;
}
.companyName {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
.position {
  font-style: italic;
}
.fa-map-marker-alt {
  margin-right: 5px;
  color: orange;
}
.fa-calendar-check {
  margin-right: 5px;
}
.active {
  color: blue;
  font-weight: bold;
}
.Card button {
  color: white;
  background-color: purple;
  padding: 10px 5px;
  border: 2px solid purple;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.Card button:hover {
  background-color: transparent;
  color: purple;
}
.Footer {
  width: 100%;
  background-color: purple;
  color: white;
  text-align: left;
}
.footer-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
.footer-about,
.social {
  width: 50%;
}
.social a {
  color: white;
  margin-right: 20px;
}
.social i {
  font-size: 25px;
  margin-right: 10px;
}
.copyRight {
  color: gray;
  text-align: center;
  font-size: small;
  padding: 10px 0;
  margin: 0;
}
.back {
  display: flex;
  justify-content: space-between;
}
#vrabotuvanje {
  font-size: 20px;
  font-weight: bold;
}
#pocetna {
  color: white;
  background-color: purple;
  padding: 10px;
  font-weight: bold;
  border: 2px solid purple;
  border-radius: 4px;
  cursor: pointer;
}
#pocetna:hover {
  color: purple;
  background-color: transparent;
}
.Details {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 30px 0;
}
.Details img {
  width: 300px;
  height: 300px;
}
#job {
  width: 400px;
  float: right;
  margin: 20px 50px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.list li {
  width: 50%;
  margin: 5px 0;
}
.list li i {
  font-size: 15px;
  margin-right: 10px;
}
.list span {
  color: red;
  font-weight: bold;
}
.Form,
.logInForm,
.logInSocial {
  width: 50%;
  padding: 20px;
  background-color: rgb(224, 223, 223);
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 20px;
}
.Form input,
.logInForm input {
  width: 100%;
  padding: 10px 3px;
  margin: 5px 0;
}
.Form label,
.logInForm label {
  font-weight: bold;
}
#cv {
  border: 1px solid gray;
  background-color: white;
}
.Form button,
.logInForm button {
  width: 100%;
  color: white;
  background-color: purple;
  font-weight: bold;
  padding: 10px;
  border: 2px solid purple;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.Form button:hover,
.logInForm button:hover {
  background-color: white;
  color: purple;
}
.LogIn {
  width: 80%;
  margin: 0 auto;
}
.logInTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid gray;
}
.logIn-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.logInSocial {
  width: 40%;
}
.logInSocial a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.google,
.linkedin,
.facebook {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: left;
  color: white;
}
.linkedin {
  background-color: rgb(31, 31, 138);
}
.google {
  background-image: linear-gradient(red, yellow);
}
.facebook {
  background-color: rgb(67, 57, 202);
}
